<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Plantilla</title>
</head>
<body>

<header th:fragment="header">
    <h1 th:text="#{plantilla.titulo}"></h1>
</header>

<footer th:fragment="footer">
    <div>
        <br />
        <a th:href="@{/personas(lang=es)}">ES</a> |
        <a th:href="@{/personas(lang=en)}">EN</a> |
        <span>[[#{plantilla.pie-pagina}]] Andrés Blandón</span>
    </div>
</footer>

</body>
</html>