<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso de Spring</title>
</head>
<body>

<header th:replace="plantillas/plantilla :: header"></header>

<a th:href="@{/agregar}">Crear persona</a>

<div th:if="${personas != null and !personas.empty}">
    <table>
        <th>[[#{persona.nombre}]]</th>
        <th>[[#{persona.apellido}]]</th>
        <th>[[#{persona.email}]]</th>
        <th>[[#{persona.telefono}]]</th>
        <th>[[#{accion.editar}]]</th>
        <th>[[#{accion.eliminar}]]</th>


        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.apellido}"></td>
            <td th:text="${persona.email}"></td>
            <td th:text="${persona.telefono}"></td>
            <td><a th:href="@{/editar/} + ${persona.id}" th:text="#{accion.editar}"></a></td>
            <td><a th:href="@{/eliminar(id=${persona.id})}" th:text="#{accion.eliminar}"></a></td>
        </tr>
    </table>
</div>
<div th:if="${personas == null or personas.empty}">
    [[#{persona.lista-vacía}]]
</div>

<footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>