<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso de Spring</title>
</head>
<body>

<h1>
    Esto es una prueba con SPRING, módulo de personas
</h1>

<a th:href="@{/agregar}">Crear persona</a>

<div th:if="${personas != null and !personas.empty}">
    <table>
        <th>Nombre:</th>
        <th>Apellido:</th>
        <th>Email:</th>
        <th>Telefono:</th>
        <th>Editar</th>
        <th>Eliminar</th>


        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.apellido}"></td>
            <td th:text="${persona.email}"></td>
            <td th:text="${persona.telefono}"></td>
            <td><a th:href="@{/editar/} + ${persona.id}" th:text="Editar"></a></td>
            <td><a th:href="@{/eliminar(id=${persona.id})}" th:text="Eliminar"></a></td>
        </tr>
    </table>
</div>
<div th:if="${personas == null or personas.empty}">
    Lista de personas vacia
</div>

</body>
</html>